/* ----------------root variables--------------- */
:root {
  --color-primary: #242323;
  --color-light: #f5f5f5;
  --color-hover: #a0a09f;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*--------------root font size of the browser -------------*/
html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Zen Maru Gothic", Arial, sans-serif;
  color: var(--color-primary);
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-hover);
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--color-primary);
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
  color: var(--color-white);
}

h4 {
  font-size: 1.2rem;
}

p{
  font-size:1.2rem;
  margin-bottom: 1rem;
}

/* ------------HEADER SECTION------------- */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--color-primary);
}

/* the image of the logo */
header img {
  width: 5rem;
  height: 5rem;
}

header nav a {
  padding: 0 1.5rem;
}

/* HIDE HAMBURGER ICON */
nav .icon {
  display: none;
}

/* navigation links are horizontally placed */
#hamitems {
  display: flex;
}

/*-------------- DROPDOWN MENU-------------- */

#hamitems .dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
#hamitems .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--color-primary);
}

/* Links inside the dropdown */
#hamitems .dropdown-content a {
  display: block;
  padding: 1rem 1.5rem 0 1.5rem;
}

/* Show the dropdown menu on hover */
#hamitems .dropdown:hover .dropdown-content {
  display: block;
}

/* -------------MAIN SECTION----------------- */

/* main area in home page */
.homemain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

/*  sub heading in home page */
.homemain .title h3 {
  text-align: center;
  font-family: "Bungee Hairline", sans-serif;
}

/* heading in the home page */
.homemain .title h1{
  color: var(--color-white);
}

/* headings in home page */
.homemain .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* main area in other pages */
.othermain {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* headings in other pages */
.othermain .title {
  margin: 2rem 0;
}

/* booking button in home page */
main .booking {
  width: 12rem;
  padding: 0.5rem;
  margin-top: 15rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1px solid var(--color-white);
}

/* Google map/calendar */
main .map,
main .calendar {
  max-width: 100%;
  margin-bottom: 2rem;
}

/* images of the dishes */
main .dishes img {
  width: 12rem;
  height: 8rem;
  margin-right: 1rem;
}

/* MENU LIST */
main .dishes ul {
  margin-top: 1rem;
}

main .dishes ul li {
  display: flex;
  margin-bottom: 2rem;
}

/* beverages description */
.beverageinfo {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--color-hover);
}

.beverageinfo span {
  padding: 0 2rem;
}

main .content{
  max-width: 80%;
}

/* Google fomrs */
main .reservationform iframe{
  max-width:100%;
  margin-bottom: 2rem;
  border: none;
}


/* ---------------FOOTER SECTION--------------- */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-light);
}

.contactinfo ul li:nth-child(2n + 1) {
  margin-top: 1rem;
  font-weight: 1000;
}

.copyright {
  display: flex;
  align-items: flex-end;
  font-size: 0.8rem;
}

.copyright a {
  margin-left: 0.5rem;
}

/* ---------[ON MOBILE DEVICES]--------- */
@media screen and (max-width: 650px) {
  /*  BREAK NAVIGATION BAR INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  /* SET POSITION FOR DROPDOWN CONTENT */
  #hamitems .dropdown-content {
    top: 24px;
    left: 20px;
  }

  /* SHOW HAMBURGER ICON */
  header .icon {
    display: block;
    font-size: 2rem;
    text-align: right;
  }

  /* HIDE NAVIGATION BAR */
  #hamitems {
    display: none;
  }

  /* CHANGE HOME PAGE'S BACKGROUND IMAGE TO SAMLL SIZE */
  .homemain {
    background-image: url("../images/smallbg.png");
  }

  /* SET THE HEADINGS LAYOUT ON MOBILE DEVICES */
  .homemain .title h3 {
    padding: 0 2.5rem;
  }

  /*  REDUCE HEADINGS' FONT SIZE */
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  p{
    font-size: 1rem;
  }

/* CHANGE DISH MENU'S DISPLAY INTO VERTICAL DIRECTION  */
  main .dishes ul li {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  /* CHANGE DISH DESCRIPTION INTO VERTICAL DIRECTION  */
  .dishinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*  REDUCE MENU'S FONT SIZE */
  main .dishes ul {
    font-size: 0.8rem;
  }

  /* CHANGE THE SIZE OF THE MAP/CALENDAR */
  main iframe {
    max-width: 100%;
  }

  /* CHANGE LAYOUT OF THE FOOTER */
  footer {
    flex-direction: column;
  }

  /* CHANGE FONT SIZE OF THE FOOTER */

  .copyright {
    display: flex;
    font-size: 0.5rem;
    justify-content: center;
  }

  .contactinfo {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}

/* ------[ON TABLET DEVICES]----- */
@media screen and (min-width: 650px) and (max-width: 1000px) {
  /* REDUCE NAVIGATION BAR FONT SIZE */
  a {
    font-size: 0.7rem;
  }
  .dropdown {
    font-size: 0.7rem;
  }

  /* CHANGE BACKGROUND IMAGE TO MEDIUM SIZE */
  .homemain {
    background-image: url("../images/mediumbg.png");
  }
}

/* ------[ON SUPERSMALL DEVICES]----- */
@media screen and (max-width: 330px) {
  /* REDUCE HEADING'S FONT SIZE */
  h1 {
    font-size: 1.5rem;
  }
  /* CHANGE BACKGROUND IMAGE TO SUPERSMALL SIZE */
  .homemain {
    background-image: url("../images/supersmallbg.png");
  }

  /* MAKE THE HEADINGS AT THE HORIZONTAL CENTER  */
  .homemain .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* REDUCE THE SIZE OF THE BOOKING BUTTON */
  main .booking {
    font-size: 0.6rem;
    width: 8rem;
    padding:0.5rem;
  }
}
